.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif;
  padding: 24px;
  width: 1000px;
  margin: 0 auto;
}
.box {
  width: 31%;
  height: 120px;
  padding: 8px;
  background-color: #15202b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8px;
  border-radius: 15px;
  border: 2px solid #8899a6;
}
.avatar {
  width: 20%;
  border-radius: 50%;
  margin-right: 8px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  color: white;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}
.username {
  font-size: 19px;
  color: #8899a6;
  margin: 0 4px 0 0;
}

@media (max-width: 601px) {
  .container {
    width: 350px;
    padding: 16px 4px;
    justify-content: space-around;
  }
  .box {
    width: 80%;
    justify-content: flex-start;
    padding: 16px 8px;
  }
  .avatar {
    width: 25%;
    border-radius: 15px;
  }
  .name,
  .username {
    font-size: 19px;
  }
}