* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif;
  padding: 16px 24px 0;
  width: 1000px;
  margin: 0 auto;
}
@media (max-width: 601px) {
  .container {
    width: 350px;
    padding: 16px 4px;
    justify-content: space-around;
  }
}