.form__container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 24px;
  width: 400px;
  margin: 0 auto;
}

.input,
.textarea,
.button {
  font-size: 16px;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #d2d9e7;
  border-radius: 5px;
  resize: none;
  background-color: #f5f8fd;
}
.button {
  background-color: #d2d9e7;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  color: #8899a6;
  background-color: #15202b;
}
.button:active {
  color: white;
  background-color: #15202b;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif;
  padding: 16px;
  width: 1000px;
  margin: 0 auto;
}
.box {
  width: 31%;
  height: 120px;
  padding: 8px;
  background-color: #15202b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  border-radius: 15px;
  border: 2px solid #D6F4FF;
}
.avatar {
  width: 20%;
  border-radius: 50%;
  margin-right: 8px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  color: white;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}
.username {
  font-size: 19px;
  color: #8899a6;
  margin: 0 4px 0 0;
}

@media (max-width: 601px) {
  .form__container {
    width: 350px;
  }
  .container {
    width: 350px;
    padding: 0;
    justify-content: space-around;
  }
  .box {
    width: 78%;
    justify-content: flex-start;
    padding: 16px 8px;
  }
  .avatar {
    width: 25%;
    border-radius: 15px;
  }
  .name,
  .username {
    font-size: 19px;
  }
}