.form__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 24px;
  width: 400px;
  margin: 0 auto;
}

.input,
.textarea,
.button {
  font-size: 16px;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #d2d9e7;
  border-radius: 5px;
  resize: none;
  background-color: #f5f8fd;
}
.button {
  background-color: #d2d9e7;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  color: #8899a6;
  background-color: #15202b;
}
.button:active {
  color: white;
  background-color: #15202b;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif;
  padding: 16px 16px 0;
  width: 1000px;
  margin: 0 auto;
}
@media (max-width: 601px) {
  .form__container {
    width: 350px;
  }
  .container {
    width: 350px;
    padding: 0;
    justify-content: space-around;
  }
}